In [1]:
import pandas as pd

In [5]:
traindf = pd.read_csv("humor_challenge_jokes_qa_classification_train.txt", sep='\t', header=None)
testdf = pd.read_csv("humor_challenge_jokes_qa_classification_test.txt", sep='\t', header=None)

In [9]:
traindf.groupby(1).count()

          0
1
0.0  105728
1.0  125330

In [13]:
105728 / (125330 + 105728)
125330 / (125330 + 105728)

0.5424179210414701